/.a042003a-8b19-4ff7-b6a4-99b9244bdb89
/.obsolete
/ms-python.python-2022.16.0
/ms-python.python-2022.16.1
/ms-python.vscode-pylance-2022.10.10
/ms-python.vscode-pylance-2022.10.30
/ms-toolsai.jupyter-2022.9.1202862440
/ms-toolsai.jupyter-keymap-1.0.0
/ms-toolsai.jupyter-renderers-1.0.10
/ms-toolsai.vscode-jupyter-cell-tags-0.1.6
/ms-toolsai.vscode-jupyter-slideshow-0.1.5
/__pycache__